body{
    font-family: 'Fredoka';
    margin: 0;
    padding: 0;
}
.container{
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: ;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(red, green, blue);
}

h1{
    text-align: center;
    .word1 {
        color:  rgb(247, 161, 175); /* Example color for "Our" */
    }
    
    .word2 {
        color: rgb(115, 228, 115); /* Example color for "Classes" */
    }
}
label{
    display: block;
    margin-bottom: 10px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button[type="submit"]{
    background-color: rgb(115, 228, 115);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
 background-color: rgb(247, 161, 175);
}
@media (max-width:786px){
    .container {
        margin: 20px auto;
    }
}
@media (max-width:480px){
    .container {
        margin: 10px auto;
        padding: 10px;
    }
    input, textarea{
        margin-bottom: 10px;
    }
}